<div *ngIf="order">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-warning" (click)="backClicked()"><i class="fa fa-mail-reply" aria-hidden="true"></i> Zpět</button>
      <h2>Detail: číslo objednávky - {{ order.id }}</h2>
    </div>
  </div>

  <form #orderForm="ngForm" class="row">
    <div *ngIf="this.isAdminDetail" class="col-md-6">
      <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">Username:</span>
          </div>
          <input type="text" class="form-control" id="username"
                 required
                 disabled
                 pattern="{{globals.usernamePattern}}"
                 [ngModel]="order.user?.username" name="username"
                 #username="ngModel"/>
      </div>

      <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">Jméno:</span>
          </div>
          <input type="text" class="form-control" id="firstname"
                 required
                 disabled
                 pattern="{{globals.namePattern}}"
                 [ngModel]="order.user?.firstname" name="firstname"
                 #firstname="ngModel"/>
      </div>

      <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">Příjmení:</span>
          </div>
          <input type="text" class="form-control" id="lastname"
                 required
                 disabled
                 pattern="{{globals.namePattern}}"
                 [ngModel]="order.user?.lastname" name="lastname"
                 #lastname="ngModel"/>
      </div>

      <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">Telefoní číslo:</span>
          </div>
          <input type="text" class="form-control" id="phoneNumber"
                 required
                 disabled
                 [ngModel]="order.user?.phoneNumber" name="phoneNumber"
                 #phoneNumber="ngModel"/>
      </div>

      <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">Email:</span>
          </div>
          <input type="text" class="form-control" id="email"
                 required
                 disabled
                 [ngModel]="order.user?.email" name="email"
                 #email="ngModel"/>
      </div>
    </div>


    <div class="col-md-6">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Město:</span>
            </div>
            <input type="text" class="form-control" id="city"
                   [disabled]="!this.isAdminDetail"
                   required
                   [ngModel]="order.address.city" name="city"
                   #city="ngModel"/>
        </div>

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Ulice:</span>
            </div>
            <input type="text" class="form-control" id="streetName"
                   [disabled]="!this.isAdminDetail"
                   required
                   [ngModel]="order.address.streetName" name="streetName"
                   #streetName="ngModel"/>
        </div>

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Číslo:</span>
            </div>
            <input type="number" class="form-control" id="streetNumber"
                   [disabled]="!this.isAdminDetail"
                   required
                   min="1"
                   [ngModel]="order.address.streetNumber" name="streetNumber"
                   #streetNumber="ngModel"/>
        </div>

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">PSČ:</span>
            </div>
            <input type="number" class="form-control" id="psc"
                   [disabled]="!this.isAdminDetail"
                   required
                   min="1"
                   pattern="{{globals.pscPattern}}"
                   [ngModel]="order.address.psc" name="psc"
                   #psc="ngModel"/>
        </div>
    </div>

    <div class="col-md-6">
      <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">Datum vytvoření:</span>
          </div>
          <input type="date" class="form-control" id="createDate"
                 [disabled]="!this.isAdminDetail"
                 required
                 disabled
                 [ngModel]="order.createDate | date: 'yyyy-MM-dd'" name="createDate"
                 (ngModelChange)="order.createDate=$event"
                 #createDate="ngModel"/>
      </div>

      <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">Datum expedice:</span>
          </div>
          <input type="date" class="form-control" id="exportDate"
                 [disabled]="!this.isAdminDetail"
                 required
                 min="{{globals.todayDate}}"
                 [ngModel]="order.exportDate | date: 'yyyy-MM-dd'" name="exportDate"
                 (ngModelChange)="order.exportDate=$event"
                 #exportDate="ngModel"/>
      </div>

      <div class="form-group input-group" >
          <div class="input-group-prepend">
              <span class="input-group-text">Stav:</span>
          </div>
          <input *ngIf="!this.isAdminDetail" class="form-control" type="text" disabled value="{{order.state}}"/>
          <select *ngIf="this.isAdminDetail" class="form-control" id="role"
                  required
                  [ngModel]="order.state"  name="state"
                  (ngModelChange)="order.state=$event"
                  #state="ngModel">
              <option [selected]="order.state == state" *ngFor="let state of this.states" [ngValue]="state">{{state}}</option>
          </select>
      </div>
       <div *ngIf="this.isAdminDetail" class="form-group input-group" >
           <div class="input-group-prepend">
                <span class="input-group-text">Vozidlo:</span>
            </div>
            <select class="form-control" id="car"
                    [ngModel]="order.car"  name="car"
                    (ngModelChange)="order.car=$event"
                    #car="ngModel">
                <option [selected]="order.car.id == car.id" *ngFor="let car of this.cars" [ngValue]="car">{{car.type}}</option>
            </select>
        </div>

      <div class="buttons" *ngIf="this.globals.currentRole > 1">
          <button type="submit" class="btn btn-success" [disabled]="!orderForm.form.valid" (click)="save()"><i class="fa fa-check fa-2x" aria-hidden="true"></i></button>
          <button class="btn btn-danger pull-right" (click)="delete()"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
      </div>
    </div>

  </form>

  <h2 *ngIf="this.isAdminDetail">Detail objednaných produktů</h2>
  <div class="card">
      <div class="card-body table-responsive">
          <table class="table table-hover table-striped">
              <thead>
              <tr>
                  <th>Název zboží</th>
                  <th>Počet</th>
                  <th>Cena</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of order.items;" routerLink="/shop/products/detail/{{item.product.id}}" class="clickable">
                  <td>{{item.product.name}}</td>
                  <td>{{item.countOrdered}}</td>
                  <td class="font-weight-bold">{{getItemsPrice(item)}} ({{item.product.price}}) Kč</td>
              </tr>
              <tr class="font-weight-bold">
                  <td colspan="2">Celková cena</td>
                  <td>{{getOrderPrice(order)}} Kč</td>
              </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
