<div class="row" *ngIf="order">
    <div class="col-md-4">
        <h2>Detail: číslo objednávky - {{ order.id }}</h2>
        <fieldset class="form-group">
            <label class="form-control-label" >Username</label>
            <input [ngModel]="order.user?.username" (ngModelChange)="order.user.username=$event" class="form-control" disabled/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Jméno</label>
            <input [ngModel]="order.user?.firstname" (ngModelChange)="order.user.firstname=$event" class="form-control" disabled/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Příjmení</label>
            <input [ngModel]="order.user?.lastname" (ngModelChange)="order.user.lastname=$event" class="form-control" disabled/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Telefoní číslo</label>
            <input [ngModel]="order.user?.phoneNumber" (ngModelChange)="order.user.phoneNumber=$event" class="form-control" disabled/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Email</label>
            <input [ngModel]="order.user?.email" (ngModelChange)="order.user.email=$event" class="form-control" disabled/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Datum vytvoření:</label>
            <input [ngModel]="order.createDate | date: 'yyyy-MM-dd'" (ngModelChange)="order.createDate=$event" class="form-control" type="date"/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Datum expedice:</label>
            <input [ngModel]="order.exportDate | date: 'yyyy-MM-dd'" (ngModelChange)="order.exportDate=$event" class="form-control" type="date"/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Stav:</label>
            <select [ngModel]="order.state" (ngModelChange)="order.state=$event">
                <option [selected]="order.state == state"  *ngFor="let state of this.states" [ngValue]="state">{{state}}</option>
            </select>
        </fieldset>

        <div class="card-body table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Název zboží</th>
                    <th>Počet</th>
                    <th>Cena</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of order.items;">
                    <td>{{item.product.name}}</td>
                    <td>{{item.countOrdered}}</td>
                    <td>{{getItemsPrice(item)}} ({{item.product.price}})</td>
                </tr>
                <tr>
                    <td colspan="2">Celková cena</td>
                    <td>{{getOrderPrice(order)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="globals.currentRole > 1">
            <button class="btn btn-success" (click)="save()">Uložit</button>
            <button class="btn btn-danger pull-right" (click)="delete()">Smazat</button>
        </div>

    </div>
</div>
