.input-group-prepend .input-group-text{
    width: 180px;
    font-weight: bold;
}

.input-group-append .input-group-text{
    font-weight: bold;
}

#input-image{
    width: 200px;
    margin-bottom: 10px;
}

h2 {
    font-weight: bold;
    margin: 20px 0 10px 0;
    text-align: center;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; // green
}

.ng-valid[email], .ng-valid.email {
    border-left: 5px solid #42A948; // green
}

.ng-valid[appForbiddenName], .ng-valid.appForbiddenName {
    border-left: 5px solid #42A948; // green
}

.ng-valid[phone], .ng-valid.phone {
    border-left: 5px solid #42A948; // green
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; // red
}

.buttons{
    float: right;
}

.btn-warning{
  float:left;
  margin-top: 15px;
 position:absolute;}

.buttons{
    text-align: right;
}

.buttons button {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

form{
    margin-bottom: 30px;
}

.clickable{
    cursor: pointer;
}


input:not([disabled]):invalid {
    border-left: 5px solid #a94442; // green
}

input:not([disabled]) {
    border-left: 5px solid #42A948; // green
}
