<div class="row" *ngIf="product">
    <h2>{{ product.name }} - Detail</h2>
    <div class="col-md-4">
        <fieldset class="form-group">
            <label class="form-control-label" >Jméno:</label>
            <input [(ngModel)]="product.name" class="form-control" placeholder="Rohlík"/>
        </fieldset>

        <label>Cena:</label>
        <fieldset class="input-group">
            <input [(ngModel)]="product.price" class="form-control" placeholder="3"/>
            <div class="input-group-append">
                <span class="input-group-text">Kč</span>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Celkový počet:</label>
            <input [(ngModel)]="product.totalAmount" class="form-control" placeholder="100"/>
        </fieldset>

        <fieldset class="form-group">
            <div class="panel-body">
                <label class="form-control-label" >Stávající obrázek produktu:</label>
                <form>
                    <img [src]="getImage(product) || 'https://placehold.it/150x80?text=IMAGE'" class="img-responsive" style="width:100%" alt="Image">
                </form>
            </div>

            <div class="custom-file">
                <label class="form-control-label" >Nový obrázek produktu:</label>
                <form (ngSubmit) = "submitPhoto()">
                    <image-preview></image-preview>
                </form>
            </div>
        </fieldset>



        <div class="mb-5">
            <label>Ingredience:</label>
            <div class="input-group mt-2" *ngFor="let prodIng of product.ingredients; let i = index">
                <select [(ngModel)]="product.ingredients[i].id" class="form-control">
                    <option *ngFor="let dataIng of product.ingredients" value="{{dataIng.id}}" [selected]="prodIng.id === dataIng.id">{{dataIng.name}}</option>
                </select>
                <span class="input-group-addon" *ngIf="this.globals.currentRole > 1">
                   <button class="btn btn-secondary btn-danger" (click)="product.ingredients.splice(i, 1);">
                       <i class="fa fa-fw fa-minus-square"></i>
                   </button>
                </span>
            </div>
            <button class="btn btn-primary btn-block mt-3" (click)="product.ingredients.push({})" *ngIf="this.globals.currentRole > 1">
                <i class="fa fa-fw fa-plus-square"></i>
            </button>
        </div>

        <div *ngIf="this.globals.currentRole > 1">
            <button class="btn btn-success" (click)="save()">Uložit</button>
            <button class="btn btn-danger pull-right" (click)="delete()">Smazat</button>
        </div>

    </div>

</div>
