<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Produkty:
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Název</th>
                        <th>Energetická hodnota</th>
                        <th>Na skladě</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let product of products">
                        <td>
                          <a routerLink="/shop/admin/products/detail/{{product.id}}">{{product.name}}</a>
                        </td>
                        <td>{{product.energyValue}}</td>
                        <td>{{product.totalAmount}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
