<div class="row" *ngIf="product">
    <div class="col-4">
        <img [src]="getImage(product) || 'https://placehold.it/150x80?text=IMAGE'" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-8">
        <h2>{{product.name}}</h2>
        <div>{{product.price}} Kč</div>
        <div>
            Složení:
            <ul *ngFor="let ingredient of product.ingredients">
                <li>{{ingredient.name}}</li>
            </ul>
        </div>
        <div>
            <input [(ngModel)]="quantity" type="number" min="1">
            <button class="btn" (click)="addToCart();">Přidat do košíku</button>
        </div>
    </div>
</div>
