:host {
    .user-profile {
        float: right;
        display: flex;
        justify-content: space-between;
    }

    app-login {
        margin-right: 10px;
    }

    .navbar {
        //margin-bottom: 50px;
        border-radius: 0;
        justify-content: center;
        background-color: #FFFEF2;
    }

    /* Remove the jumbotron's default bottom margin */
    .jumbotron {
        margin-bottom: 0;
        background-color: #FFCC01;
    }
}
