:host {
    .user-profile {
        margin-top: 10px;
        float: right;
        display: flex;
        justify-content: space-between;
    }

    app-login {
        margin-right: 10px;
    }

    .navbar {
        //margin-bottom: 50px;
        //position: fixed;
        border-radius: 0;
        justify-content: center;
        background-color: #FFFEF2;
    }

    /* Remove the jumbotron's default bottom margin */
    .jumbotron {
        border-radius: 0;
        margin: auto;
        background-color: #FFCC01;
        padding: 0;
        text-align: center;
        padding-top: 3em;
        padding-bottom: 1em;
    }
}
