<h2>Profil - {{user}}</h2>
<div class="row">
    <div class="col-md-4">
        <fieldset class="form-group">
            <label class="form-control-label" >Jméno:</label>
            <input  class="form-control" value=""/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Příjmení:</label>
            <input  class="form-control" value=""/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Uživatelské jméno:</label>
            <input  class="form-control" value=""/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Heslo:</label>
            <input  class="form-control" value=""/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Rola:</label>
            <input  class="form-control" value=""/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >E-mail:</label>
            <input  class="form-control" value=""/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Telefon:</label>
            <input  class="form-control" value=""/>
        </fieldset>

        <button class="btn btn-success" (click)="save()">Uložit</button>
        <button class="btn btn-danger pull-right" (click)="delete()">Smazat</button>
    </div>

</div>
