<h2>Profil - {{this.username}}</h2>
<div class="row" *ngIf="user">
    <div class="col-md-4">
        <fieldset class="form-group">
            <label class="form-control-label" >Jméno:</label>
            <input [(ngModel)]="user.firstname" class="form-control"/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Příjmení:</label>
            <input [(ngModel)]="user.lastname" class="form-control"/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Uživatelské jméno:</label>
            <input [(ngModel)]="user.username" class="form-control"/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Heslo:</label>
            <input type="password" [(ngModel)]="user.password" class="form-control"/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Rola:</label>
            <select [ngModel]="user.roles[0].name" (ngModelChange)="user.roles[0].name=$event">
                <option [selected]="user.roles[0].name == role"  *ngFor="let role of this.roles" [ngValue]="role">{{role}}</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >E-mail:</label>
            <input [(ngModel)]="user.email" class="form-control"/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Telefon:</label>
            <input [(ngModel)]="user.phoneNumber" class="form-control"/>
        </fieldset>
        <h3>Adresa:</h3>
        <fieldset class="form-group">
            <label class="form-control-label" >Mesto:</label>
            <input [ngModel]="user.address?.city" class="form-control" (ngModelChange)="user.address.city=$event"/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Ulica:</label>
            <input [ngModel]="user.address?.streetName" class="form-control" (ngModelChange)="user.address.streetName=$event"/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Číslo:</label>
            <input [ngModel]="user.address?.streetNumber" class="form-control" (ngModelChange)="user.address.streetNumber=$event"/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >PSČ:</label>
            <input [ngModel]="user.address?.psc" class="form-control" (ngModelChange)="user.address.psc=$event"/>
        </fieldset>

        <button class="btn btn-success" (click)="save()">Uložit změny</button>
        <button *ngIf="user.roles[0].name != 'USER'" class="btn btn-danger pull-right" (click)="delete()">Smazat</button>
    </div>



    <div class="card">
        <div class="card-header">
            Objednávky:
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Číslo objednávky</th>
                    <th>Vytvořeno</th>
                    <th>Odesláno</th>
                    <th>Stav</th>
                    <th>Cena</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let order of user.orders">
                    <td>
                        <a routerLink="/shop/profil/{{this.username}}/order/{{order.id}}">{{order.id}}</a>
                    </td>
                    <td>{{order.createDate | date: 'yyyy-MM-dd'}}</td>
                    <td>{{order.exportDate| date: 'yyyy-MM-dd'}}</td>
                    <td>{{order.state}}</td>
                    <td>{{getOrderPrice(order)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
