<h2>Objednávky</h2>
<div class="card">
    <div class="card-body table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Číslo objednávky</th>
                <th>Vytvořeno</th>
                <th>Odesláno</th>
                <th>Stav</th>
                <th>Cena</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders" routerLink="/shop/admin/orders/detail/{{order.id}}" class="clickable">
                <td>{{order.id}}</td>
                <td>{{order.createDate | date: 'yyyy-MM-dd'}}</td>
                <td>{{order.exportDate| date: 'yyyy-MM-dd'}}</td>
                <td>{{order.state}}</td>
                <th>{{getOrderPrice(order)}}</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
