<h2>Nový produkt</h2>
<div class="row" *ngIf="product">
    <div class="col-md-4">
        <fieldset class="form-group">
            <label class="form-control-label" >Jméno:</label>
            <input [(ngModel)]="product.name" class="form-control" placeholder="name"/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >energyValue:</label>
            <input [(ngModel)]="product.energyValue" class="form-control" placeholder="energyValue"/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >totalAmount:</label>
            <input [(ngModel)]="product.totalAmount" class="form-control" placeholder="totalAmount"/>
        </fieldset>
        <button class="btn btn-success" (click)="add();">
            Přidat
        </button>
    </div>
</div>
