<div class="container mt-4">
	<div class="row">
        <div class="col-md-8">
        	<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2605.6261886026214!2d16.594451416020046!3d49.22661597932531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471294099dc06bbb%3A0xbfcf161b01a48b0d!2sFaculty+of+Information+Technology%2C+Brno+University+of+Technology!5e0!3m2!1sen!2scz!4v1524507298938"></iframe>
    	</div>

      	<div class="col-md-4">
    		<h2>Adresa</h2>
    		<address>
    			<strong>Pekárna FIT</strong><br>
    			Božetěchova 1/2<br>
    			Brno-Královo Pole<br>
    			612 00<br>
    			Česká rebublika<br>
    			+420 234 567 890
    		</address>
    	</div>
    </div>
</div>
