<div class="row" *ngIf="car">
  <div class="col-md-12">
    <button class="btn btn-warning" (click)="backClicked()"><i class="fa fa-mail-reply" aria-hidden="true"></i> Zpět</button>
    <h2>Nové vozidlo</h2>
  </div>

  <form (ngSubmit)="save()" #userForm="ngForm" class="col-md-6">
      <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">Typ:</span>
          </div>
          <input type="text" class="form-control" id="city"
                 required
                 [ngModel]="car.type" name="city"
                 (ngModelChange)="car.type=$event"
                 placeholder="Dodávka"
                 #type="ngModel"/>
      </div>

      <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">Město:</span>
          </div>
          <input type="date" class="form-control" id="date_add"
                 required
                 [ngModel]="car.date_add" name="date_add"
                 (ngModelChange)="car.date_add=$event.target.valueAsDate"
                 placeholder="Brno"
                 #date_add="ngModel"/>
      </div>

      <div class="buttons">
          <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid" ><i class="fa fa-check fa-2x" aria-hidden="true"></i></button>
          <button class="btn btn-danger pull-right" (click)="delete()"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
      </div>

  </form>
</div>
