<div class="card">
    <div class="card-header" style="font-weight:bold">
        Profily:
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Užívatelské jméno</th>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users" routerLink="/shop/user/{{user.username}}" class="clickable">
                <td style="font-weight:bold">{{user.username}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.role.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
