<div class="row" *ngIf="product">
  <div class="col-md-12">
    <button class="btn btn-warning" (click)="backClicked()"><i class="fa fa-mail-reply" aria-hidden="true"></i> Zpět</button>
    <h2>Nový produkt</h2>
  </div>

  <div class="col-md-6">
      <form  #productForm="ngForm">
          <div class="form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text">Jméno:</span>
              </div>
              <input type="text" class="form-control" id="name"
                     required
                     pattern="{{globals.namePattern}}"
                     [ngModel]="product.name" name="name"
                     (ngModelChange)="product.name=$event"
                     placeholder="Rohlík"
                     #firstname="ngModel"/>

          </div>

          <div class="form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text">Cena:</span>
              </div>
              <input type="number" min="1" class="form-control" id="price"
                     required
                     [ngModel]="product.price" name="price"
                     (ngModelChange)="product.price=$event"
                     placeholder="3"
                     #firstname="ngModel"/>
              <div class="input-group-append">
                  <span class="input-group-text">Kč</span>
              </div>
          </div>

          <div class="form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text">Celkový počet:</span>
              </div>
              <input type="number" min="1" class="form-control" id="totalAmount"
                     required
                     [ngModel]="product.totalAmount" name="totalAmount"
                     (ngModelChange)="product.totalAmount=$event"
                     placeholder="10"
                     #lastname="ngModel"/>
          </div>

          <div class="form-group input-group" *ngFor="let prodIng of product.ingredients; let i = index">
              <div class="input-group-prepend">
                  <span class="input-group-text">Ingredience:</span>
              </div>
              <select required [(ngModel)]="product.ingredients[i].id" [ngModelOptions]="{standalone: true}" id="ingredients" name="ingredients" class="form-control">
                  <option *ngFor="let dataIng of ingredients" value="{{dataIng.id}}" [selected]="prodIng.id === dataIng.id">{{dataIng.name}}</option>
              </select>
              <span class="input-group-addon">
             <button class="btn btn-secondary btn-danger" (click)="product.ingredients.splice(i, 1);">
                 <i class="fa fa-minus-square"></i>
             </button>
          </span>
          </div>
          <button class="btn btn-primary btn-block mt-3" (click)="product.ingredients.push({})">
              <i class="fa fa-fw fa-plus-square"></i>
          </button>
          <div class="pull-right mt-3">
              <button type="submit" class="btn btn-success" [disabled]="!productForm.form.valid || !this.validIngredients(product.ingredients)" (submit)="add()"><i class="fa fa-check fa-2x" aria-hidden="true"></i></button>
          </div>
      </form>
  </div>

  <div class="col-md-6" align="center">
    <fieldset class="form-group">
        <div class="custom-file">
            <form (ngSubmit) = "submitPhoto()">
                <image-preview> </image-preview>
            </form>
        </div>
    </fieldset>
  </div>

</div>
