<nav class="sidebar navbar-expand-sm bg-dark navbar-dark" [ngClass]="{sidebarPushRight: isActive}">
    <div class="navbar-nav nav flex-column">
        <a routerLink="/admin/dashboard" [routerLinkActive]="['router-link-active']" class="nav-link">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;Dashboard
        </a>
        <div class="nested-menu">
            <a class="nav-link" (click)="addExpandClass('pages')">
                <i class="fa fa-lemon-o"></i>&nbsp; Products
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a class="nav-link" routerLink="/shop/admin/products/new"><span>New</span></a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/shop/admin/products"><span>All</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a routerLink="/admin/ingredients" [routerLinkActive]="['router-link-active']" class="nav-link">
            <i class="fa fa-fw fa-tint"></i>&nbsp;Ingredients
        </a>
        <a routerLink="/admin/cars" [routerLinkActive]="['router-link-active']" class="nav-link">
            <i class="fa fa-fw fa-truck"></i>&nbsp;Cars
        </a>
        <a routerLink="/admin/order" [routerLinkActive]="['router-link-active']" class="nav-link">
            <i class="fa fa-fw fa-shopping-cart"></i>&nbsp;Orders
        </a>
    </div>
</nav>
