<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/admin/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-lemon-o"></i>&nbsp; {{ 'Products' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/admin/products/new"><span>New</span></a>
                    </li>
                    <li>
                        <a routerLink="/admin/products"><span>All</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a routerLink="/admin/ingredients" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-tint"></i>&nbsp;{{ 'Ingredients' | translate }}
        </a>
        <a routerLink="/admin/cars" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-truck"></i>&nbsp;{{ 'Cars' | translate }}
        </a>
        <a routerLink="/admin/order" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-shopping-cart"></i>&nbsp;{{ 'Orders' | translate }}
        </a>
    </div>
</nav>
