<div class="jumbotron">
    <div class="user-profile">
        <app-login></app-login>
        <app-signup></app-signup>
    </div>
    <div class="container text-center">
        <h1>Pekárna FIT</h1>
        <p>Rohlíky, chleba & bagety</p>
    </div>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/admin">ÚVOD</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" >E-SHOP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" >PRODEJNY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" >O NÁS</a>
        </li>
    </ul>
</nav>
