.user-profile {
    float: right;
}

.navbar {
    margin-bottom: 50px;
    border-radius: 0;
    justify-content: center;
    background-color: #FFFEF2;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
    background-color: #FFCC01;
}
