<!--Login button-->
<button type="button" class="btn btn-dark btn-sm ml-auto" (click)="showLoginDialog()" *ngIf="showLoginButton">
    <i class="fa fa-user-circle-o mr-2"></i>Login/Registration
</button>

<!--Login adn registration dialog-->
<app-dialog [(visible)]="globals.showLoginDialog" *ngIf="globals.showLoginDialog">
    <div class="row-user">
        <alert></alert>
        <img src="assets/images/logo.png" width="75px" class="user-avatar"/>
    </div>
    <div class="row">
        <div class="col">
            <div class="login-page">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <form [formGroup]="credentials" novalidate>
                            <div class="form-group">
                                <input formControlName="username" type="text" class="form-control input-underline input-lg" placeholder="Username" />
                                <span  *ngIf="credentials.hasError('required', 'username') && credentials.get('username').touched">
                                    Username is required.
                                    <script>this.credentials.get('username')</script>
                                </span>
                            </div>
                            <div class="form-group">
                                <input formControlName="password" type="password" class="form-control input-underline input-lg" placeholder="Password" />
                                <span  *ngIf="credentials.hasError('required', 'password') && credentials.get('password').touched">
                                    Password is required.
                                </span>
                            </div>
                            <div class="form-group">
                                <button [disabled]="loginLoading" class="btn rounded-btn" (click)="login()" >Login</button>
                                <img *ngIf="loginLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                <!--[routerLink]="['/register']"-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="login-page">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <form [formGroup]="registration" novalidate>
                            <div class="form-group">
                                <input formControlName="firstname" type="text" class="form-control input-underline input-lg" placeholder="First Name" />
                                <span  *ngIf="registration.hasError('required', 'firstname') && registration.get('firstname').touched">
                                    First name is required.
                                </span>
                            </div>
                            <div class="form-group">
                                <input formControlName="lastname" type="text" class="form-control input-underline input-lg" placeholder="Last Name" />
                                <span  *ngIf="registration.hasError('required', 'lastname')  && registration.get('lastname').touched">
                                    Last name is required.
                                </span>
                            </div>
                            <div class="form-group">
                                <input formControlName="username" type="text" class="form-control input-underline input-lg" placeholder="Username" />
                                <span  *ngIf="registration.hasError('required', 'username') && registration.get('username').touched">
                                    Username is required.
                                </span>
                            </div>
                            <div class="form-group">
                                <input formControlName="email" type="email" class="form-control input-underline input-lg" placeholder="Email" />
                                <span  *ngIf="registration.hasError('email', 'email') && registration.get('email').touched">
                                    Please enter the correct email, this email not valid.
                                </span>
                            </div>
                            <div class="form-group">
                                <input formControlName="password" type="password" class="form-control input-underline input-lg" placeholder="Password" />
                                <span  *ngIf="registration.hasError('required', 'password') && registration.get('password').touched">
                                    Password is required.
                                </span>
                            </div>
                            <div class="form-group">
                                <button [disabled]="registrationLoading" class="btn rounded-btn mb-4" (click)="register()">Register</button>
                                <img *ngIf="registrationLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                <!--<a [routerLink]="['/login']" class="btn btn-link">Cancel</a>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-dialog>

<!--Logout button-->
<div *ngIf="!showLoginButton">
    <button type="button" class="btn btn-dark btn-sm ml-auto profil" routerLink="/shop/user/{{currentUser}}" routerLinkActive="active">
        <i class="fa fa-user-circle-o mr-2"></i>{{currentUser}}
    </button>
    <button type="button" class="btn btn-dark btn-sm ml-auto" (click)="logout()">
        <i class="fa fa-sign-out mr-2"></i>Logout
    </button>
</div>
