<app-header></app-header>
<section class="main-container">
    <router-outlet></router-outlet>
</section>
<!--
<p>
    <ngb-alert [dismissible]="false">
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
</p>
<div class="row">
    <div class="col-md-5">
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel title="Simple">
                <ng-template ngbPanelContent>
                    ahoj
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
-->
