<h2>Nová ingredience</h2>
<form (ngSubmit)="add()" #ingredientsForm="ngForm">
<div class="row" *ngIf="ingredient">
            <div class="col-md-6">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Jméno:</span>
                    </div>
                    <input type="text" class="form-control" id="name"
                           required
                           [ngModel]="ingredient.name" name="name"
                           (ngModelChange)="ingredient.name=$event"
                           placeholder="Mouka"
                           #name="ngModel"/>

                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Dodavatel:</span>
                    </div>
                    <input type="text" class="form-control" id="supplier"
                           required
                           [ngModel]="ingredient.supplier" name="supplier"
                           (ngModelChange)="ingredient.supplier=$event"
                           placeholder="Babičina pekárnička"
                           #supplier="ngModel"/>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Skladem:</span>
                    </div>
                    <input type="number" class="form-control" id="unit"
                           required
                           [ngModel]="ingredient.unit" name="unit"
                           (ngModelChange)="ingredient.unit=$event"
                           placeholder="50"
                           #unit="ngModel"/>
                </div>
                <div class="buttons">
                    <button type="submit" class="btn btn-success" [disabled]="!ingredientsForm.form.valid" ><i class="fa fa-check fa-2x" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="col-md-6"></div>
</div>
</form>

<button class="btn btn-info" (click)="backClicked()"><i class="fa fa-mail-reply" aria-hidden="true"></i></button>
