<h2>Nová ingredience</h2>
<div class="row" *ngIf="ingredient">
    <div class="col-md-4">
        <fieldset class="form-group">
            <label class="form-control-label" >Jméno:</label>
            <input [(ngModel)]="ingredient.name" class="form-control" placeholder="Mouka"/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Dodavatel:</label>
            <input [(ngModel)]="ingredient.supplier" class="form-control" placeholder="Babičina mouka"/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Skladem:</label>
            <input [(ngModel)]="ingredient.stored" class="form-control" placeholder="50"/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Vyrobeno dne:</label>
            <input [(ngModel)]="ingredient.dateOfManufacture" class="form-control" placeholder="2018-05-05"/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Expirace:</label>
            <input [(ngModel)]="ingredient.bestBefore" class="form-control" placeholder="2018-06-06"/>
        </fieldset>

        <button class="btn btn-success" (click)="add();">
            Přidat
        </button>
    </div>
</div>
