<h2>Auta</h2>
<div class="card">
    <div class="card-body table-responsive">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <mat-table class="table table-hover table-striped" [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let car"> {{car.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Typ </mat-header-cell>
          <mat-cell *matCellDef="let car"> {{car.type}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="dateAdd">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Přidáno </mat-header-cell>
          <mat-cell *matCellDef="let car"> {{car.dateAdd | date: 'yyyy-MM-dd'}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
        <mat-row *matRowDef="let car; columns:displayedColumns" routerLink="/shop/admin/cars/detail/{{car.id}}" class="clickable"></mat-row>
      </mat-table>
    </div>
</div>
