<h2>Auta</h2>
<div class="card">
    <div class="card-body table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>typ</th>
                <th>Přidáno</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let car of cars" routerLink="/shop/admin/cars/detail/{{car.id}}" class="clickable">
                <td>{{car.id}}</td>
                <td>{{car.type}}</td>
                <td>{{car.date_add}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
