<div *ngIf="ingredient">
    <h2>{{ ingredient.name }} - Detail</h2>
    <div>
        <fieldset class="form-group">
            <label class="form-control-label" >Jméno:</label>
            <input [(ngModel)]="ingredient.name" class="form-control" placeholder="Mouka"/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Na skladě:</label>
            <input type="number" [(ngModel)]="ingredient.stored" class="form-control" placeholder="50"/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Dodavatel:</label>
            <input [(ngModel)]="ingredient.supplier" class="form-control" placeholder="Lojza"/>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Vyrobeno dne:</label>
            <input
                   type="date" min="2018-01-01"
                   (input)="ingredient.dateOfManufacture = $event.target.valueAsDate"
                   value="{{ingredient.dateOfManufacture | date: 'yyy-MM-dd'}}"
                   class="form-control"
            />
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label" >Expirace:</label>
            <input type="date"
                   (input)="ingredient.bestBefore = $event.target.valueAsDate"
                   value="{{ingredient.bestBefore | date: 'yyyy-MM-dd'}}"
                   class="form-control"
            />
        </fieldset>
    </div>

    <button class="btn btn-success" (click)="save()">Uložit</button>
    <button class="btn btn-danger" (click)="delete()">Smazat</button>
</div>
