<div class="row">
    <div class="col-md-12">
        <button class="btn btn-warning" (click)="backClicked()"><i class="fa fa-mail-reply" aria-hidden="true"></i> Zpět</button>
        <h2><i class="fa fa-fw fa-shopping-cart"></i>Košík</h2>
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="productsTable" class="table" *ngIf="cartItems && cartItems.length">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Produkt</th>
                        <th>Cena</th>
                        <th>Množství</th>
                        <th>Cena celkem</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of cartItems">
                    <td>
                        <button (click)="removeFromCart(item.product);" class="btn btn-danger"><i class="fa fa-fw fa-times-circle"></i></button></td>
                    <td>
                        <img [src]="getImage(item.product) || 'https://placehold.it/150x80?text=IMAGE'" class="img-responsive" style="width:100%" alt="Image">
                    </td>
                    <td>{{item.product.name}}</td>
                    <td>{{item.product.price}} Kč {{item.product.totalAmount}}</td>
                    <td>
                        <div class="form-group input-group">
                            <input type="number" class="form-control" id="quantity" min="1"
                                   (change)="addToCart(item.product, $event.target.value)"
                                   required
                                   min="1"
                                   [max]="item.product.totalAmount"
                                   [ngModel]="recomputeProductAmount(item.quantity, item)" name="quantity"/>
                        </div>
                    </td>
                    <td>{{item.totalCost}} Kč</td>
                </tr>
                </tbody>
            </table>
            <div class="text-center font-weight-bold h2">Celkem: {{(cart | async).itemsTotal}} Kč</div>
        </div>
    </div>
    <div class="col-md-6 offset-md-3 text-center">
        <h4 *ngIf="cartItems === undefined || cartItems.length < 1 ">Košík je prázdný</h4>
        <a routerLink="/shop/products" class="btn btn-info">Pokračovat v nákupu</a>
        <div class="d-inline" *ngIf="cartItems && cartItems.length">
            <button *ngIf="this.globals.currentRole >= 1 " routerLink="/shop/checkout" class="btn btn-success">Koupit</button>

            <button *ngIf="this.globals.currentRole < 1" (click)="globals.showLoginDialog = true" class="btn btn-success">Koupit</button>
        </div>
    </div>

</div>
