<div class="container-fluid bg-1 text-center mt-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2 class="font-weight-bold">Pekárna FIT - jsme tu s Vámi od roku 1986</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a elementum dui. Nulla cursus accumsan eros, non feugiat ante tempus nec. Curabitur vel lorem a erat auctor rhoncus nec a magna. Fusce fermentum viverra felis, quis vehicula justo aliquam et. Morbi varius, justo quis bibendum varius, mauris massa fringilla massa, id pellentesque nisi orci id mi. Aliquam erat volutpat. Aenean non efficitur turpis. Nulla augue metus, gravida sed nunc sit amet, interdum porta nisi. In lorem sapien, ornare vitae porta eu, faucibus tincidunt ante.

            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card-group">
            <div class="card bg-light m-3" style="width: 18rem;">
                <h5 class="card-header">E-shop</h5>
                <div class="card-body">
                    <p class="card-text">To nejlepší pečivo nakoupíte z pohodlí domova.</p>
                    <a href="#" routerLink="/shop/products" class="card-link">Do obchodu</a>
                </div>
            </div>
            <div class="card bg-light m-3" style="width: 18rem;">
                <h5 class="card-header">Kariera</h5>
                <div class="card-body">
                    <p class="card-text">Neustále hledáme pracovité lidi! Hledáš práci?</p>
                    <a href="#" routerLink="/shop/about" class="card-link">Kontaktovat</a>
                </div>
            </div>
            <div class="card bg-light m-3" style="width: 18rem;">
                <h5 class="card-header">Kontakt</h5>
                <div class="card-body">
                    <p class="card-text">Máte pro nás připomínky nebo návrhy ?</p>
                    <a href="#" routerLink="/shop/about" class="card-link">Kontaktovat</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2 class="text-secondary">Naše začátky</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a elementum dui. Nulla cursus accumsan eros, non feugiat ante tempus nec. Curabitur vel lorem a erat auctor rhoncus nec a magna. Fusce fermentum viverra felis, quis vehicula justo aliquam et. Morbi varius, justo quis bibendum varius, mauris massa fringilla massa, id pellentesque nisi orci id mi. Aliquam erat volutpat. Aenean non efficitur turpis. Nulla augue metus, gravida sed nunc sit amet, interdum porta nisi. In lorem sapien, ornare vitae porta eu, faucibus tincidunt ante.

                Nulla quis suscipit risus. Mauris ipsum neque, lacinia sit amet nulla sit amet, cursus rhoncus mi. Curabitur molestie nunc sed ultricies tincidunt. Maecenas ultrices, sem tristique commodo pulvinar, ex nulla imperdiet velit, ac volutpat tellus magna et nunc. Nunc ac risus nec neque pharetra feugiat. Donec eu iaculis dui. Suspendisse feugiat ultricies pellentesque. Donec urna velit, imperdiet a accumsan vitae, maximus sed erat.
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2 class="text-info">Současnost</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a elementum dui. Nulla cursus accumsan eros, non feugiat ante tempus nec. Curabitur vel lorem a erat auctor rhoncus nec a magna. Fusce fermentum viverra felis, quis vehicula justo aliquam et. Morbi varius, justo quis bibendum varius, mauris massa fringilla massa, id pellentesque nisi orci id mi. Aliquam erat volutpat. Aenean non efficitur turpis. Nulla augue metus, gravida sed nunc sit amet, interdum porta nisi. In lorem sapien, ornare vitae porta eu, faucibus tincidunt ante.

                Nulla quis suscipit risus. Mauris ipsum neque, lacinia sit amet nulla sit amet, cursus rhoncus mi. Curabitur molestie nunc sed ultricies tincidunt. Maecenas ultrices, sem tristique commodo pulvinar, ex nulla imperdiet velit, ac volutpat tellus magna et nunc. Nunc ac risus nec neque pharetra feugiat. Donec eu iaculis dui. Suspendisse feugiat ultricies pellentesque. Donec urna velit, imperdiet a accumsan vitae, maximus sed erat.
            </p>
        </div>
    </div>

</div>
